<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<center>
 <form th:action="@{/dashboard}" th:object="@{formRequest}" method="post">
     Dochód miesięczny: <input th:field="*{monthCash}" type="number"> <br/>
     Zobowiązania miesięczne: <input th:field="*{minusCash}" type="number">  <br/>
     Okres kredytowania: <input th:field="*{creditTime}" type="number">  <br/>
     Kwota kredytu: <input th:field="*{creditCash}" type="number">  <br/>
     <input type="submit" value="Wyślij">
 </form>
</center>
</body>
</html>